/* color palette from <https://github.com/vuejs/theme> */
:root {
    --accentColor: #137cbd;
    --background: #212427;
    --backgroundVariant: #333A41;
    --border: #828A93;
    --brandColor: #182C44;
    --intentBase: #30404d;
    --intentBaseActive: #94989a;
    --intentBaseDisabled: #4c6577;
    --intentBaseHover: #4c6577;
    --intentDanger: #db3737;
    --intentDangerActive: #c23030;
    --intentDangerBackground: rgba(219, 55, 55, .2);
    --intentDangerDisabled: #a82a2a;
    --intentDangerHover: #f55656;
    --intentMinimal: #5c7080;
    --intentMinimalActive: rgba(115, 134, 148, 0.3);
    --intentMinimalDisabled: rgba(167, 182, 194, 0.3);
    --intentMinimalHover: #828A93;
    --intentPrimary: #137cbd;
    --intentPrimaryActive: #0e5a8a;
    --intentPrimaryBackground: rgba(19, 124, 189, .15);
    --intentPrimaryDisabled: rgba(19, 124, 189, 0.5);
    --intentPrimaryHover: #106ba3;
    --intentSuccess: #94b845;
    --intentSuccessActive: #15b371;
    --intentSuccessBackground: rgba(137, 187, 64, .15);
    --intentSuccessDisabled: #0a6640;
    --intentSuccessHover: #3dcc91;
    --intentWarning: #d9822b;
    --intentWarningActive: #bf7326;
    --intentWarningBackground: rgba(217, 130, 43, .2);
    --intentWarningDisabled: #a66321;
    --intentWarningHover: #f29d49;
    --linkColor: #106ba3;
    --muted: #8999a6;
    --onBackground: #828A93;
    --onBackgroundVariant: #e1e8ed;
    --onPrimary: #fff;
    --onSurface: #e1e8ed;
    --primary: #1C1C1C;
    --primaryVariant: #828A93;
    --secondary: #212427;
    --surface: #202b33;
    --text: #e1e8ed;
}

#app {
    background-color: var(--background);
    color: var(--text)
}